.add-todo-btn {
  @apply w-6 h-6 rounded-lg bg-[#F0F1F7] relative;
}

.add-todo-btn::before,
.add-todo-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10px;
  border: 1px solid #9fa2b4;
  border-radius: 10px;
}

.add-todo-btn::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
